*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --blue-color: #2b2eff;
}

section {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    gap: 2rem;
}

.users-container {
    background-color: aqua;
    padding: 15px;
    margin: 0 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    margin: 20px;
}

.image-container h1 {
    text-align: center;
    font-size: 18px;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* buttons */
.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border:  1px solid var(--blue-color);
    color: var(--blue-color);
    cursor: pointer;
}


.paginationBttns a:hover {
    color: white;
    background-color: var(--blue-color);
}

.paginationActive a {
    color: white;
    background-color: var(--blue-color);
}
